.App {
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    padding: 2em;
    text-align: left;
    width: 600px;
}

.form {
    padding: 1em;
}

label {
    font-weight: 600;
}