/*nav{
    height: 50px;
    border: 1px solid #dfdfdf;
}*/

.nav-links{
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
/*
.div-svg{
    height: 30px;
    width: 30px;
    padding: 0 20px;
}
.active{
    border-bottom: 2px solid firebrick;
}*/
